.titulo {
    text-align: center;
  font-family:'Times New Roman', Times, serif;
  font: size 50px;;
  font-weight: bold;
 
}
.caja  {
     text-align: center;
     width: 400px;
     height: 200px;
     background-color:blueviolet;
     border: 5px solid royalblue;
     border-radius: 20px;
}
  body {
    background: linear-gradient(to right, royalblue, lightblue);
     min-height: 100vh;
  }
hr { 
  border:none;
  background-color: rgb(65, 83, 54);
  height: 4px;
}
    